<div class="ipynb-field" style ="display:none">
    <div class="form-group">
        <label for="{{ this.args.name }}">
            {{ this.args.label }}
        </label>
        <input type="text" id="{{ this.args.name }}"  name="{{ this.args.name }}" class="form-control" placeholder="{{ this.args.hint }}" value="{{ this.args.default }}">
    </div>
</div>


<script>
(function() {
	var input = document.getElementById('{{ this.args.name }}');
	window.addEventListener("message", (event) => {
        var localhost_patt = /^http:\/\/localhost:[0-9]+$/;
        var xenabrowser_patt = /^https:\/\/[a-z]+xenabrowser.net$/;
        if (!localhost_patt.test(event.origin) && !xenabrowser_patt.test(event.origin))
			return;

		input.value = event.data;
		event.source.postMessage('ack', '*');
	}, false);
})();
</script>
