{{this.args.label}}
{%- if this.args.description %}
<sup data-toggle="tooltip" title="{{ this.args.description }}"><i class="far fa-question-circle"></i></sup>
{% endif -%}:
<input type="text" id = "{{ this.args.name }}" name="{{ this.args.name }}" value="{{ this.args.default }}" readonly size = 70% />
{%- if this.args.format %}
format: {{this.args.format}}
{% endif -%}
<br>
<script>
// update hidden field with the hash when page is ready
(function() {
   var value = JSON.parse(decodeURIComponent(location.hash.substring(1))).{{ this.args.name }};
   if ( value)
      document.getElementById('{{ this.args.name }}').value = value;
})();
</script>
